version: '3.8'

volumes:
  db:
  rabbitmq:

services:
  db:
    image: postgres:15
    container_name: db
    restart: always
    environment:
      - POSTGRES_PASSWORD=root
    volumes:
      - db:/var/lib/postgresql/data
      - ./config/db/init_db.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - '5432:5432'

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    hostname: rabbitmq
    restart: always
    volumes:
      - rabbitmq:/var/lib/rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672'

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    environment:
      - TZ=America/Sao_Paulo
      - TIMEZONE=America/Sao_Paulo
    ports:
      - '10000:8080'
